
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow authenticated users to read any user profile (for leaderboards)
    // and update their own profile.
    match /userProfiles/{userId} {
      allow get, list: if request.auth != null;
      // Allow users to create their own profile upon signup.
      // The new data must match the user's UID.
      allow create: if request.auth != null && request.auth.uid == userId;
      // Allow users to update their own profile data.
      allow update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
